@page "/AddUser"
@using BazorApi.ApiControl
@using BazorApi.Model
@using BazorApi.Model.ViewModels
@inject IApiCall apicall

<h5 class="p-2">Sign In</h5>
<EditForm Model="@Model" OnValidSubmit="OnSubmit" FormName="AddUserForm">
    <DataAnnotationsValidator />
    <InputText @bind-Value="Model.Username" class="form-control" placeholder="UserName" />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField @bind-Value="@Model.Password" Label="Password" Variant="Variant.Text" class="p-2">Test</MudTextField>
                    <MudTextField @bind-Value="@Model.Role" Label="Role" Variant="Variant.Text" class="p-2"></MudTextField>

                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Outlined" Color="Color.Dark" Class="ml-auto" Href="/ProductList">
                        Cancel
                    </MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Dark" Class="m-2">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public SignIn Model { get; set; } = new();

    public async Task OnSubmit()
    {

        // Debugging - check the model's values
        Console.WriteLine($"Username: {Model.Username}, Password: {Model.Password}, Role: {Model.Role}");

        var result = await apicall.AddAccount(Model);
        // Handle the result of your API call as needed
    }
}
