@page "/"

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welcome to <span class="text-dark">Inventory Management</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>You are not LogIn .<a class="fw-bolder" href="/login">Click Here</a>to Login!.</span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Logged in as <b>@context.User.Identity.Name</b><a class="fw-bolder" href="/logout">Click Here</a>to login</span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>

